Jinja2==2.7.2
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
Unidecode==0.04.16
corenlp-python==3.2.0-3
docutils==0.11
numpydoc==0.4
pexpect==3.2
python-dateutil==2.2
six==1.6.1
wsgiref==0.1.2
xmltodict==0.9.0
